::-webkit-scrollbar {
  display: none; /* Ascunde barele de scroll */
}

html,
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.header {
  background: #333;
  color: #fff;
  padding: 30px 0;
  text-align: center;
  position: relative; /* Asigură-te că header-ul nu interferează cu alte elemente */
}

.header h1 {
  font-size: 36px;
  color: #fff;
  margin: 0;
}

h1 {
  margin-top: -50px;
}

.content {
  position: relative; /* Permite repoziționarea cu top, left, etc. */
  top: 0px; /* Mută elementul în sus cu 10px */
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  min-height: calc(100vh - 120px); /* Ajustează pentru header și footer */
  box-sizing: border-box;
}

.tabs {
  display: flex;
  flex-wrap: wrap; /* Permite ca tab-urile să se aranjeze pe mai multe linii, dacă e necesar */
  justify-content: center;
  padding: 10px 20px;
  position: absolute;
  top: 50px;
  left: 0;
  width: 250px;
  box-sizing: border-box;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  z-index: 10;
}

.tabs button {
  all: unset; /* Resetează toate stilurile implicite */
  display: flex; /* Asigură centrare pentru conținut */
  justify-content: center; /* Centrează orizontal */
  align-items: center; /* Centrează vertical */
  width: 105px; /* Dimensiunea butonului */
  height: 105px;
  padding: 2px;
  border-radius: 50%; /* Creează forma rotundă */
  overflow: hidden; /* Ascunde orice depășire a conținutului */
  cursor: pointer;
  position: relative; /* Context pentru elementele poziționate în interior */
  border: 3px solid transparent;
  transition: transform 0.3s ease;
}

.tabs button:hover {
  transform: scale(1.1);
  font-size: small;
  border: 3px solid #007bff; /* Culoare și grosime border */
  border-radius: 50%; /* Rotunjirea colțurilor pentru a respecta forma circulară */
  background-color: #f0f8ff; /* Fundal diferit pentru butonul activ */
}

.tabs button:hover::after {
  opacity: 1;
}

.tabs button::after {
  content: attr(data-text); /* Textul afișat */
  position: absolute; /* Poziționat relativ la buton */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrează textul */
  color: white;
  font-weight: bold;
  font-size: 14px;
  opacity: 0; /* Ascuns implicit */
  transition: opacity 0.3s ease; /* Efect de tranziție */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.tabs button[data-text="Limbi vorbite"]::after {
  white-space: pre-line; /* Permite textului să treacă pe linii noi */
  text-align: center; /* Centrează textul pe orizontală */
  line-height: 1.2; /* Controlează spațierea între linii */
}

.tab-image {
  width: 100%; /* Face imaginea să ocupe întreaga lățime a butonului */
  height: 100%; /* Face imaginea să ocupe întreaga înălțime a butonului */
  object-fit: cover; /* Păstrează proporțiile imaginii */
  border-radius: 50%; /* Asigură că imaginea respectă forma rotundă */
}

.tabs button.active {
  color: white;
  text-shadow: 6px 6px 15px rgba(0, 0, 0, 0.9); /* Adaugă umbră textului */
  transform: scale(1.1); /* Aplica un efect de mărire */
  transition: transform 0.3s ease, color 0.3s ease; /* Asigură o tranziție lină */
  border: 3px solid #007bff; /* Culoare și grosime border */
  border-radius: 50%; /* Rotunjirea colțurilor pentru a respecta forma circulară */
  background-color: #f0f8ff; /* Fundal diferit pentru butonul activ */
}

.tabs button.active::after {
  opacity: 1;
  color: white;
  font-weight: bold;
  text-shadow: 6px 6px 15px rgba(0, 0, 0, 0.9);
}

.social-links a {
  display: inline-block;
  margin-right: 15px;
}

.social-links img {
  margin-right: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social-links img:hover {
  transform: scale(1.3);
}

.footer {
  text-align: center;
  padding: 10px 10px;
  background: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.footer .contact-and-social .contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 40px;
  flex-wrap: wrap;
  /* Permite ca butoanele să treacă pe o linie următoare dacă nu sunt suficiente spațiu */
  flex-direction: row;
  /* Asigurăm că butoanele sunt pe orizontală */
}

.footer .contact-and-social .contact-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.footer .contact-and-social .contact-icon:hover {
  transform: scale(1.3);
}

/* Media Queries pentru ecrane mici (sub 768px) */
@media (max-width: 768px) {
  
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px; /* Ajustează padding-ul dacă este necesar */
    margin-top: 0; /* Conținutul aproape de marginea de sus */
    transition: top 0.3s ease-in-out; /* Smooth hide/show transition */
  }

  .header h1 {
    font-size: 18px;
  }
  
  h1:not(.header h1) {
    font-size: 24px;
    text-align: center;
    margin-top: 0px;
  }

  .content {
    width: 95%;
    padding: 0px 5px; /* Marginea conținutului aproape de marginea superioară */
    margin-top: 0; /* Eliminăm marginile */
    margin-bottom: 50px;
    font-size: 8px; /* Text mai mic */
    line-height: 1;
  }

  .main-content {
    align-items: center;
    flex-direction: column;
    padding: 15px;
  }

  .section {
    padding: 0px !important; /* Redu padding-ul de sus */
}

  .tabs {
    position: static;
    width: 100%;
    max-height: none;
    overflow: visible;
    padding: 5px;
    flex-direction: row; /* Tab-urile rămân pe orizontală */
    justify-content: space-evenly; /* Aliniem tab-urile orizontal, dar cu spațiu între ele */
  }

  /* General adjustments */
  .tabs button {
    width: 48px;
    height: 48px;
    text-indent: -9999px;
  }

  .footer {
    justify-content: center;
    padding: 5px;
    font-size: 12px;
    margin-top: 0; /* Aproape de marginea de jos */
  }

  .footer .contact-and-social .contact-list {
    flex-direction: row; /* Menținem butoanele pe orizontală */
    justify-content: space-evenly; /* Distribuim uniform butoanele pe orizontală */
    gap: 10px; /* Spațiu mai mic între butoane */
  }
}


@media (min-width: 769px) and (max-width: 1360px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; /* Ajustează padding-ul pentru ecrane mai mari */
    margin-top: 0;
    transition: top 0.3s ease-in-out; /* Smooth hide/show transition */
  }

  .header h1 {
    font-size: 24px; /* Font mai mare pentru titlu */
    margin: 0; /* Elimină eventuale margini */
  }

  h1 {
    font-size: 16px; /* Font mai lizibil */
    text-align: center;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asigură că pagina acoperă întreaga fereastră */
    margin: 0;
  }

  .content {
    flex: 1; /* Face ca .content să se extindă pentru a ocupa spațiul rămas */
    width: 90%; /* Ajustăm dimensiunea pentru a ocupa mai mult spațiu */
    padding: 10px 20px; /* Marginea conținutului pentru lizibilitate */
    margin: -35px auto; /* Centrare automată */
    font-size: 12px; /* Font mai mare */
    line-height: 1.3; /* Creștem spațierea pentru lizibilitate */
  }

  .main-content {
    align-items: flex-start;
    flex-direction: column;
    padding: 15px; /* Mai mult spațiu în jurul conținutului principal */
    min-height: calc(100vh - 100px);
  }

  .section {
    padding: 10px !important; /* Adăugăm padding */
  }

  .tabs {
    position: static;
    padding: 10px;
    margin-top: -35px; /* Ridică tab-urile mai sus */
    margin-left: 100px; /* Impinge tab-urile la dreapta */
    flex-direction: row; /* Tab-urile rămân pe orizontală */
    justify-content: space-around; /* Spațiere echilibrată între tab-uri */
  }

   /* General adjustments */
   .tabs button {
    width: 70px;
    height: 70px;
    text-indent: 0; /* Textul este vizibil */
    font-size: 10px; /* Text mai lizibil */
    border-radius: 50%;
  }

  .footer {
    justify-content: center;
    padding: 10px 20px;
    font-size: 14px; /* Font mai mare pentru footer */
    margin-top: 0;
  }

}


@media (min-width: 1361px) and (max-width: 1960px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; /* Spațiu mai mare pentru rezoluții mari */
    margin-top: 0;
    transition: top 0.3s ease-in-out;
  }

  .header h1 {
    font-size: 28px; /* Font mai mare pentru titlu */
    margin: 0;
  }

  h1 {
    font-size: 20px;
    text-align: center;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

  .content {
    flex: 1;
    width: 100%; /* Ajustare pentru a acomoda spațiul taburilor */
    padding: 10px 20px; /* Marginea conținutului pentru lizibilitate */
    margin: -35px auto; /* Centrare automată */
    font-size: 14px;
    line-height: 1.5;
  }

  .main-content {
    align-items: flex-start;
    flex-direction: column;
    margin: 155px auto; /* Centrare automată */
    padding: 20px;
    min-height: calc(100vh - 100px);
  }

  .section {
    padding: 20px !important;
  }

  .tabs {
    position: static; /* Asigurăm că taburile nu se suprapun */
    padding: 10px;
    margin-top: -50px; /* Ajustăm spațierea față de conținut */
    margin-left: 80px;
    flex-direction: row;
    justify-content: space-around; /* Spațiu echilibrat între taburi */
  
  }

  .tabs button {
    width: 80px; /* Creștem dimensiunea pentru rezoluții mari */
    height: 80px;
    text-indent: 0; /* Textul este vizibil */
    font-size: 14px;
    border-radius: 50%;
  }

  .footer {
    justify-content: center;
    padding: 15px 30px;
    font-size: 16px;
    margin-top: 0px;
  }
}

@media (min-width: 1961px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 0;
    transition: top 0.3s ease-in-out;
  }

  .header h1 {
    font-size: 32px; /* Font și mai mare pentru titlu pe ecrane mari */
    margin: 0;
  }

  h1 {
    font-size: 24px;
    text-align: center;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

  .content {
    flex: 1;
    width: 100%;
    padding: 10px 40px; /* Ajustează marginea conținutului pentru un aspect mai aerisit */
    margin-top: -35px; /* Ridică conținutul mai sus pe ecranele mari */
    font-size: 16px;
    line-height: 1.5;
  }

  .main-content {
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    min-height: calc(100vh - 100px);
  }

  .section {
    padding: 30px !important;
  }

  .tabs {
    position: static;
    padding: 15px;
    margin-top: -50px; /* Ridică și tab-urile mai sus */
    margin-left: 60px;
    flex-direction: row;
    justify-content: space-around;
  }

  .tabs button {
    width: 100px;
    height: 100px;
    font-size: 16px;
    border-radius: 50%;
    margin-top: 10px;
  }

  .footer {
    justify-content: center;
    padding: 20px 40px;
    font-size: 18px;
    margin-top: 0;
  }
}

@media (min-width: 1024px) {

  /* Stile pentru ecranele mari (desktop) */
  .main-content {
    display: flex;
    flex-direction: row;
    /* Menține layout-ul pe orizontală */
    width: 100%;
    position: relative;
    max-width: 1024px;
    margin: auto;
    padding: 50px;
  }

  .tabs {
    box-sizing: border-box;
    flex-direction: column;
    height: auto;
    left: 30;
    width: 250px;
    max-height: calc(100vh - 100px);
    position: absolute;
    width: 150px;
  }

  .content {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    padding: 40px;
    margin-left: 150px;
    overflow-x: hidden;
    max-height: 70vh;
  }
}